terraform
nginx/*
node_modules/
vendor/
storage/logs/*
storage/framework/cache/*
public/build/
.npm
phpunit.xml
.node_modules
.git
.github/*
.githooks/*
.gitignore
.env.*
npm-debug.log
.config
.cache
scripts/
tests/
database/database.sqlite
frankenphp
frankenphp-worker.php
**/caddy
